<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Name</span>
        <input type="text" pInputText id="firstNameId" placeholder="{{'Name' | translate}}" [(ngModel)]="_newPartner.name">
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-mobile"></i></span>
        <input type="text" pInputText id="telephoneId" placeholder="{{'Telephone' | translate}}" [(ngModel)]="_newPartner.telephone"
               field="_newClient.telephone"/>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText id="usernameId" [(ngModel)]="_newPartner.username" placeholder="{{'Username' | translate}}"
               field="_newClient.telephone"/>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input type="password" pInputText id="passwordId" [(ngModel)]="_newPartner.password" placeholder="{{'Password' | translate}}"
               field="_newClient.password"/>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-briefcase"></i></span>
        <p-dropdown [options]="servicesAsSelectItems" [(ngModel)]="selectedService" [style]="{'width':'100%'}"
                    placeholder="{{'selectyourservice' | translate}}"></p-dropdown>
      </div>
      <div class="ui-inputgroup">
        <label>Are you reservable ?</label><br/>
        <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="_newPartner.reservable"></p-inputSwitch>
      </div>
      <div>
        <button pButton type="button" label="{{'Sign Up' | translate}}"  class="ui-button-secondary" (click)="register()"></button>
      </div>
    </div>
</div>

