<div id="header" class="soso-header">
  <div style="display: inline-block; float: left;">
    <p style="font-size: x-large; font-family: 'Bell MT'">
      SOSO partner
    <p>
  </div>
  <div style="display: inline-block"></div>
  <div class="soso-languages-block" style="display: inline-block; float: right;">
      <p-dropdown [options]="supportedLanguages"  [style]="{'width':'90px'}" [(ngModel)] = "selectedLang" (onChange)="selectLanguage()">
        <ng-template let-lang pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <img src="{{lang?.flagpath}}" style="width:24px;position:absolute;top:1px;left:5px"/>
            <div style="font-size:14px;float:right;margin-top:4px">{{lang?.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
  </div>
</div>
<div>
<app-wlc-page></app-wlc-page>
</div>

