@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";


.flatpickr-calendar.hasTime.animate{
  display: none;
}


body{
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */
.soso-header{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed !important;
  background-color: white;
  z-index: 100;

}

.soso-logo{

}

.ui-panel-titlebar .ui-widget-header .ui-helper-clearfix .ui-corner-all{
  display: none !important;
}

.cal-event-title.ng-star-inserted{
  color: white;
}



.ui-button{
  background-color: #484848 !important;
  border-color: #484848 !important;
}

button.ui-button{
  background-color: #a0a0a0 !important;
  border-color: #a0a0a0 !important;
}

button.ui-button:hover{
  background-color: #484848 !important;
  border-color: #484848 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: grey;
}

.hover-on-partner-image{
  position: relative;
}


.hover-on-partner-image-content{
  opacity: 0;
  background-color: darkgrey;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-on-partner-image-content:hover {
  opacity: .5; /* amount of opacity to blend the two images */
}


.hover-on-partner-account-image-content{
  opacity: 0;
  background-color: darkgrey;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-on-partner-account-image-content:hover {
  opacity: .5; /* amount of opacity to blend the two images */
}

.account-image-holder{
  position: relative;
  margin: 0;
}

.intro {
  padding: 0 20px;
  margin-top: 100px;
  text-align: center;
  background: aliceblue;
  border-radius: 5px;
  padding-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

.intro .profile-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -100px;
  margin-bottom: -70px;
}

.font-yellow {
  color: #FFA600;
}

.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

ul.information{
  margin: 0;
  padding: 0;
}

li.information{
  display: block;
  margin: 5px 0;

}

li{
  list-style: none;
}


i:hover {
  color: black !important;
}


